/* CSS do CARDAPIO*/

html{
    overflow-x: hidden;
}

body {
    background: url("ImgFundoCardapio/Design\ sem\ nome.png") repeat center center;
    height: 20vh;
    z-index: 1000;
}




.cardapio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kenia', sans-serif;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}

.cardapio h1 {
    font-size: 30px;
    color: #c0c0c0;
    text-transform: uppercase;
    position: relative;
    right: 18px;
}

.itens-cardapio {
    width: 400px;
    margin-top: -120px;
    margin-bottom: 2rem;
    margin-left: -30px;
    display: grid;
    grid-template-columns: repeat(3 , minmax(400px, 400px));
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Recursive', sans-serif;
}



.itens-cardapio .info {
    background-color: #ffffff96;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    box-shadow: 4px 4px 4px 1px rgba(23, 108, 123, 0.545);
    width: 350px;
    height: 150px;
    border-radius: 16px;
}

#descricao{
    position: relative;
    left: -138px;
    top: -36px;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
}

#descricao1{
    position: relative;
    left: -90px;
    top: -36px;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
}

#descricao2{
    position: relative;
    left: -143px;
    top: -36px;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
}

#descricao3{
    position: relative;
    left: -130px;
    top: -36px;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
}

#descricao4{
    position: relative;
    left: -150px;
    top: -36px;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
}

#descricao5{
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    left: -138px;
    top: -26px;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
}

#descricao6{
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    left: -110px;
    top: -26px;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
}

#descricao7{
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    left: -82px;
    top: -26px;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
}

#descricao8{
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    left: -82px;
    top: -26px;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
}


#valor{
    font-family: 'Recursive', sans-serif;
    color:rgba(3, 117, 138, 0.911);
    font-size: 22px;
    margin-bottom: 0;
    font-weight: bold;
    position: relative;
    left: -145px;
    top: -30px;
}

#valor1{
    font-family: 'Recursive', sans-serif;
    color: rgba(3, 117, 138, 0.911);
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    position: relative;
    left: -145px;
    top: -19px;
}

.itens-cardapio .imgback {
    border-radius: 15px;
    background-color: #04473c;
    width: 160px;
    height: 198px;
    position: relative;
    left: 238px;
    top: 198px
}


.itens-cardapio img {
    border-radius: 15px;
    width: 160px;
    height: 198px;
    position: relative;
    top: 0px
} /*IMAGENS CARDAPIO*/



.itens-cardapio .info .pedir {
    width: 200px;
    height: 30px;
    background-color: #0b6e8f;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: black;
    transition: all 200ms ease-in;
    position: relative;
    top: 9px;
    right: 80px;
    font-weight: bold;
    font-family: 'Kenia', sans-serif;
    font-family: 'Pacifico', 'cursive';
} /*BOTÃO PEDIR AGORA*/

.itens-cardapio .info .pedir:hover {
    background-color: #14a4d4;
    color: #000000;
    box-shadow: 4px 4px 5px #0a3b3b92;
    font-weight: bold;
    font-size: 14px;
    transform: scale(1.08);
    cursor: pointer;
} /*AÇÃO APÓS O USUÁRIO PASSAR MOUSE*/

.itens-cardapio .Andar{
    margin-top: -195px;
}

#voltarMenu {
  position: absolute;
  top: 65px; /*distância do topo*/
  left: 20px; /*distância da esquerda*/
  padding: 10px 20px;
  background-color: #0b6e8f;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Kenia', sans-serif;
  font-family: 'Pacifico', 'cursive';
  transition:  200ms ease-in;
}

#voltarMenu:hover{
    font-size: 19px;
    background-color: #14a4d4;
}

/*Modal CSS Começo*/

#fade, #modal{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: .5rem;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCC;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-body p{
    margin: 0;
    font-size: 1.5rem;
}

.modal-body{
    display: flex;
    justify-content: space-between;

}

.modal-body button{
    border: none;
    background-color: #888;
    color: #FFF;
    width: 50px;
    height: 35px;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.9;
    font-size: 1.1rem;
    transition: 0.4s;
}

.modal-body button:hover{
    opacity: 1;
}

.modal-header button{
    padding: 0.6rem 1.2rem;
    background-color: #888;
    color: #FFF;
    border: none;
    border-radius: 0.25rem;
    cursor:pointer;
    opacity: 0.9;
    font-size: 1rem;
    transition: 0.4s;
}

.modal-header button:hover{
    opacity: 1;
}

#modal.hide,#fade.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide{
    top: 0;
}

#pedirPedido{
    width: 80px;
}

.itens-cardapio .info .descricao {
    position: relative;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
    word-wrap: break-word; /* Para quebrar palavras longas */
    text-align: center; /* Alinhamento do texto */
}
