* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("imgFundoFeedback/planoDefundo.jpg") repeat center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Kenia', sans-serif;
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 3rem;
    color: #a56d04; /* Cor do título */
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}

.form {
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
}

.form label, 
.form input, 
.form textarea, 
.form button {
    display: block;
    width: 100%;
}

.form label {
    color: #fcfcfc; /* Cor das labels */
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input, .form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color;
    background: rgba(255, 204, 0, 0.8); /* Amarelo mais escuro */
}

.form textarea {
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: #ffcc00; /* Amarelo */
    box-shadow: 0 0 0 3px #ffcc00; /* Amarelo */
    border: none;
}

.form button {
    display: block;
    padding: 1rem;
    color: #070505;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 1rem;
    font-weight: bold;
    background: linear-gradient(to bottom right, #FFD700, #a56d04); /* Degradê do amarelo escuro (#FFD700) para o amarelo mais claro (#FFA500) */
}

.form button:hover, 
.form button:focus {
    background: linear-gradient(to bottom right, #FFA500, #a56d04); /* Invertendo o degradê ao passar o mouse */
}
